

.info_main img {
    width:  50%;
    opacity: 0.7;
}

.busy {
  background-color: #ee8181;
}

.free{
  background-color: rgb(188, 235, 188);
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
}

.image-container .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.image-container-menu {
  position: relative;
  margin: 20px;
}

.image-container-menu img {
  display: block;
  width: 100%;
}

.a-container {
  display: flex;
  justify-content: center;
}

.container-fluid {
    text-align: right;
}

.catalog_info img {
  height: 50%;
}


table {
  width:100%;
  border-spacing:0;
  border-collapse: collapse;
}

table th, table td {
  text-align:left;
  font-size:14px;
  padding:10px;
  margin:0;
}

tbody tr:nth-child(odd) {
  background:#efefef;
}

tbody tr.subtotal {
  background:#ccc;
}

thead th, tbody tr.total {
  background:#F2C64D;
  color:#969191;
  font-weight:bold;
}

table.cart {
  margin-bottom:40px;
}

table.cart img {
  width:180px;
}

tbody td.num {
  text-align:left;
}

td input[type="submit"] {
  font-size:12px;
  padding:4px 10px;
}

td img {
  height: 100px;
}

.accordion-item {
  margin: 10px;
}

.accordion-header {
  background-color: rgb(200, 238, 225);
}