.info_main img {
    height: 50%;
    opacity: 0.7;
}

.container-fluid {
    text-align: right;
}


table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
  }
  
  table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
  }
  
  tbody tr:nth-child(odd) {
    background:#efefef;
  }
  
  tbody tr.subtotal {
    background:#ccc;
  }
  
  thead th, tbody tr.total {
    background:#F2C64D;
    color:#fff;
    font-weight:bold;
  }
  
  table.cart {
    margin-bottom:40px;
  }
  
  table.cart img {
    width:180px;
  }
  
  tbody td.num {
    text-align:left;
  }
  
  td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
  }